@model string

@{
    ViewData["titulos"] = "Politica de privacidad";
}
<h1>@ViewData["titulos"]</h1>
<h2>@ViewData["titulos"]</h2>


<p>Use this page to detail your site's privacy policy.</p>
<ul>
    <li>Sitio: @Model</li>
</ul>

<p>Use este tip</p>
